<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>block.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D5ADB7CC1C2A2BE3009EE41D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5ADB7E51C2A2BE4009EE41D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5ADB7F01C2A2BE4009EE41D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
